


.main {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* z-index: -10;
    position: sticky;
    bottom: 0%; */
position: relative;

}



.sliderContainer {
    margin-top: calc(var(--padd1em)*2 );
    margin-bottom: calc(var(--padd1em)*2);
    overflow: hidden;
    width: 100%;
    background-color: var(--green);
    color: var(--black);
    padding:var(--padd1em);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

}

.textTrack {
    display: inline-block;
    white-space: nowrap;
    font-size: var(--navItemsXL);
    font-weight: bold;


}

.textTrack span {
    margin-right: 2rem;
}