.main {

    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    min-height: 70vh;
    /* position: sticky;
        top: 0%; */

}


.firstDiv {

    flex-wrap: wrap;
    font-size: calc(var(--navItemsXL));
    padding: var(--padd1em);


}

