


.main {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

position: sticky;
    top: 0%;



}

.firstDiv {


    margin-top: calc(var(--padd1em)*2);

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;





}


   .video {
       object-fit: cover;
       width: 100%;
    max-height: 80vh;
       position: relative;
       top: 0;
    border-radius: var(--radius);

       background-color: var(--black);

   }



   @media(max-width:60rem) {

.firstDiv {


        margin-top: calc(var(--padd1em)*2);

        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;





    }


 .video {
     object-fit: cover;
     width: 100%;
    min-height: 29rem;
     position: relative;
     top: 0;
     border-radius: var(--radius);

     background-color: var(--black);

 }


   }










   @media(max-width:40rem) {

       .firstDiv {


           margin-top: calc(var(--padd1em)*2);

           width: 98%;
           display: flex;
           align-items: center;
           justify-content: center;





       }

 .video {
     object-fit: cover;
     width: 100%;
     min-height: 26rem;
     position: relative;
     top: 0;
     border-radius: var(--radius);

     background-color: var(--black);

 }


   }