


.main{
    width: 100%;
    background-color: var(--black);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--navItems);
    z-index: 100;
position: relative;
top: 0%;



}






.jc{
   
    padding: calc( var(--padd1em)*0.75 );

  padding-left: 1em;
  font-size: calc( var(--navItemsXL)* 1.3 );
  text-decoration: none;
 color: var(--white);


}
.kontakt{
    padding-right: 1em;
font-size: calc(var(--navItemsXL)* 1.3);
   text-decoration: none;
   color: var(--white);


}


.main div:nth-child(2){
    width: 42rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


    
}
.main div:nth-child(2) a{
padding: calc(var(--padd1em)*0.3);
text-decoration: none;
color: var(--white);


}

.main div:nth-child(2) a:hover{
    transition: var(--transition);
    background-color: var(--green);
    transform: scale(1.12);
    color: var(--black);
}





.bars {

    position: fixed;
    top: 3.5%;
    right: 2%;
    z-index: 100;


}



.container {
    position: fixed;
    top: 0%;


    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;


    z-index: 20;



}

.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);




}



.fullNav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100vh;
   /* padding-left: var(--padd1em); */
color: var(--black);
display: flex;
align-items: center;
justify-content: space-around;


    z-index: 90;
    font-size: calc( var(--navItemsXL)*2.6)

  
}

.fullNav div a{
    text-decoration: none;
    color: var(--black);
margin-top: var(--padd1em);
    margin-bottom: var(--padd1em);
 
   

}

.fullNav a :hover{
    transition: var(--transition);
    color: var(--grey);
   transform: translateX('100px');
   background-color: var(--black);
   transform: translateX(100);

}



.slikeDiv{
    width: 51rem;
    height: 31rem;
    display: grid;
   grid-template-columns: 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem 5rem ;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  gap: .1em;

}


   .i1 {
      
       grid-column: 1 /5;
        grid-row: 1 / 5;
     
 }

   .i2 {
      
       grid-column: 5 /9;
       grid-row: 2 / 6;
     

   }

   .i3 {

     grid-column: 3 /8;
    grid-row: 3 / 8;
    z-index: 2;

   }


   .i4 {
      
       grid-column: 2 /6;
       grid-row: 5 / 10;
      z-index: 2;
   }

   .i5 {
    
       grid-column:6 /10;
       grid-row: 5 / 9;


   }

   .slikeDiv img{
    width: 100%;
    height: 100%;
    
   }


  .i1:hover{
    transform: scale(1.3);
    transition: var(--transition);
    z-index: 10;
 
   } 
  .i2:hover {
      transform: scale(1.3);
      transition: var(--transition);
      z-index: 10;
  }
  .i3:hover {
      transform: scale(1.3);
      transition: var(--transition);
      z-index: 10;
  }
   .i4:hover {
       transform: scale(1.3);
       transition: var(--transition);
       z-index: 10;
   }

   .i5:hover {
       transform: scale(1.3);
       transition: var(--transition);
       z-index: 10;
   }



   .whiteDiv{
    position: fixed;
    top: 0%;
    left: 0%;
    min-height: 100vh;
    width: 100%;
    z-index: 101;
    background-color: var(--green);
   }

   @media(max-width:100rem) {

.bars {

        position: fixed;
        top: 3.5%;
        right: 2%;
        z-index: 100;


    }



    .container {
        position: fixed;
        top: 0%;


        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: pointer;


        z-index: 20;



    }

    .section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);




    }



    .fullNav {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        min-height: 100vh;
        /* padding-left: var(--padd1em); */
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: space-around;


        z-index: 90;
        font-size: calc(var(--navItemsXL)*2.6)
    }

    .fullNav div a {
        text-decoration: none;
        color: var(--black);
        margin-top: var(--padd1em);
        margin-bottom: var(--padd1em);





    }


    .slikeDiv {

        display: none;


    }


   



    .whiteDiv {
        position: fixed;
        top: 0%;
        left: 0%;
        min-height: 100vh;
        width: 100%;
        z-index: 101;
        background-color: var(--green);
    }


   }

   @media(max-width:60rem) {

.jc {

        padding: calc(var(--padd1em)*0.75);

        padding-left: 1em;
        font-size: calc(var(--navItemsXL)* 1.3);
        text-decoration: none;
        color: var(--white);


    }

    .kontakt {
display: none;


    }


    .main div:nth-child(2) {
    
        display: none;


    }

    .main div:nth-child(2) a {
        padding: calc(var(--padd1em)*0.3);
        text-decoration: none;
        color: var(--white);


    }





    .bars {

        position: fixed;
        top: 3.5%;
        right: 2%;
        z-index: 100;


    }



    .container {
        position: fixed;
        top: 0%;


        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: pointer;


        z-index: 20;



    }

    .section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);




    }



    .fullNav {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        min-height: 100vh;
        /* padding-left: var(--padd1em); */
        color: var(--black);
        display: flex;
        align-items: center;
        justify-content: space-around;


        z-index: 90;
        font-size: calc(var(--navItemsXL)*2)
    }

    .fullNav div a {
        text-decoration: none;
        color: var(--black);
        margin-top: var(--padd1em);
        margin-bottom: var(--padd1em);



    }

    .fullNav a :hover {
        transition: var(--transition);
        color: var(--grey);
        transform: translateX('100px');
        background-color: var(--black);
        transform: translateX(100);

    }






    .whiteDiv {
        position: fixed;
        top: 0%;
        left: 0%;
        min-height: 100vh;
        width: 100%;
        z-index: 101;
        background-color: var(--green);
    }



   }














   @media(max-width:40rem) {

       .jc {

           padding: calc(var(--padd1em)*0.75);

           padding-left: 1em;
           font-size: calc(var(--navItemsXL)* 1);
           text-decoration: none;
           color: var(--white);


       }

       .kontakt {
           display: none;


       }


       .main div:nth-child(2) {

           display: none;


       }

       .main div:nth-child(2) a {
           padding: calc(var(--padd1em)*0.3);
           text-decoration: none;
           color: var(--white);


       }





       .bars {

           position: fixed;
           top: 3.5%;
           right: 2%;
           z-index: 100;


       }



       .container {
           position: fixed;
           top: 0%;


           min-height: 100vh;
           width: 100%;
           display: flex;
           flex-direction: row;
           cursor: pointer;


           z-index: 20;



       }

       .section {
           flex: 1;
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: var(--white);




       }



       .fullNav {
           position: fixed;
           top: 0%;
           left: 0%;
           width: 100%;
           min-height: 100vh;
           /* padding-left: var(--padd1em); */
           color: var(--black);
           display: flex;
           align-items: center;
           justify-content: space-around;


           z-index: 90;
           font-size: calc(var(--navItemsXL)*1)
       }

       .fullNav div a {
           text-decoration: none;
           color: var(--black);
           margin-top: var(--padd1em);
           margin-bottom: var(--padd1em);
     /* padding: var(--padd1em); */


       }







       .whiteDiv {
           position: fixed;
           top: 0%;
           left: 0%;
           min-height: 100vh;
           width: 100%;
           z-index: 101;
           background-color: var(--green);
       }



   }

