


.main{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    position: sticky;
    top: 0%;
    /* z-index: -1; */

    overflow: hidden;

   
}


.firstDiv{

    position: relative;


    margin-top: calc(var(--padd1em)*2);

    width: 90%;


    display: flex;
  
    align-items: center;
    justify-content: space-between;
    font-size:calc( var(--navItemsXL)* 3 );

padding: calc(var(--padd1em) *0.2);

/* border: 2px solid red; */

 
}



.secondDiv{


  width: 90%;
 display: flex;


    align-items: center;
    justify-content: space-between;
    font-size: calc(var(--navItemsXL)* 3);

padding: calc(var(--padd1em) *0.2);


/* border: 2px solid blue; */
  
  
}


 .icons{

    height: 6rem;
    width: 6rem; 


}

.threeDiv{
width: 90%;
margin-bottom:calc( var(--padd1em)*2 );


    display: flex;
   border-top: .1em solid var(--grey);

    align-items: center;
    justify-content: space-between;
font-size: calc(var(--posao)*1.2);

     color: var(--grey);
    padding: calc(var(--padd1em)*1.5);


   

}



.nevidljiviDiv {
    position: absolute;


    width: 1.5rem;
    height: 1.5rem;
 
    background-color: var(--green);
    border-radius: 50%;



    z-index: 20;



}


@media(max-width:90rem) {

.firstDiv {

        position: relative;


        margin-top: calc(var(--padd1em)*2);

        width: 90%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);



    }



    .secondDiv {


        width: 90%;
        display: flex;


        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);





    }


    .icons {

        height: 6rem;
        width: 6rem;


    }

    .threeDiv {
        width: 90%;
        margin-bottom: calc(var(--padd1em)*2);


        display: flex;
        border-top: .1em solid var(--grey);

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--posao)*1.2);

        color: var(--grey);
        padding: calc(var(--padd1em)*1.5);




    }



    .nevidljiviDiv {
        position: absolute;


        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--green);
        border-radius: 50%;



        z-index: 20;



    }

}







@media(max-width:60rem) {

    .firstDiv {

        position: relative;


        margin-top: calc(var(--padd1em)*2);

        width: 95%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);



    }

    .firstDiv div:nth-child(2){
        display: none;
    }



    .secondDiv {


        width: 95%;
        display: flex;
        flex-direction: column;


        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);





    }


    .icons {

        height: 6rem;
        width: 6rem;


    }

    .threeDiv {
        width: 95%;
        margin-bottom: calc(var(--padd1em)*2);


        display: flex;
        flex-direction: column;
        border-top: .1em solid var(--grey);

        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--posao)*1.2);

        color: var(--grey);
        padding: calc(var(--padd1em)*1.5);


    }

    .threeDiv div{
        margin-bottom: var(--padd1em);
    }



    .nevidljiviDiv {
        position: absolute;


        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--green);
        border-radius: 50%;



        z-index: 20;



    }

}








@media(max-width:40rem) {

    .firstDiv {

        position: relative;


        margin-top: calc(var(--padd1em)*2);

        width: 98%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.7);

        padding: calc(var(--padd1em) *0.2);



    }

    .firstDiv div:nth-child(2) {
        display: none;
    }



    .secondDiv {


        width: 98%;
        display: flex;
        flex-direction: column;


        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.7);

        padding: calc(var(--padd1em) *0.2);





    }


    .icons {

        height: 5rem;
        width: 5rem;


    }

    .threeDiv {
        width: 98%;
        margin-bottom: calc(var(--padd1em)*2);


        display: flex;
        flex-direction: column;
        border-top: .1em solid var(--grey);

        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--posao)*1.2);

        color: var(--grey);
        padding: calc(var(--padd1em)*1.5);


    }

    .threeDiv div {
        margin-bottom: var(--padd1em);
    }



    .nevidljiviDiv {
        position: absolute;


        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--green);
        border-radius: 50%;



        z-index: 20;



    }

}






@media(max-width:30rem) {

    .firstDiv {

        position: relative;


        margin-top: calc(var(--padd1em)*1.5);

        width: 98%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.5);

        padding: calc(var(--padd1em) *0.2);



    }


    .secondDiv {


        width: 98%;
        display: flex;
        flex-direction: column;


        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.5);

        padding: calc(var(--padd1em)*0.2);





    }


    .icons {

        height: 5rem;
        width: 5rem;


    }

    .threeDiv {
        width: 98%;
       margin-bottom: calc(var(--padd1em)*2);


        display: flex;
        flex-direction: column;
        border-top: .1em solid var(--grey);

        align-items: flex-start;
        justify-content: space-between;
        font-size: calc(var(--posao)*1);

        color: var(--grey);
        padding: calc(var(--padd1em)*1);


    }

    .threeDiv div {
        margin-bottom: var(--padd1em);
    
    }



    .nevidljiviDiv {
        position: absolute;


        width: 1.5rem;
        height: 1.5rem;

        background-color: var(--green);
        border-radius: 50%;



        z-index: 20;



    }

}