.main {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    /* z-index: -10;
    position: sticky;
    bottom: 0%; */
    /* position: relative; */
/* Da nemoze da higlijtije text */
    user-select: none;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;



}


.imagesBoxes{
  
    transform: rotate(-7deg);

    width: 85rem;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
   
  
  

 overflow: hidden;




}

.boxes{

    width: 20rem;
    height: 25rem;
 

}

.boxes img{
    width: 20rem;
    height: 25rem;
 padding-bottom: .5em;
}


.toogleDiv{
 


    width: 60rem;
    height: 36rem;
    display: flex;
  
background-color: var(--grey);

position: relative;
}

.toogleDiv h4{

           position: absolute;
top: 35%;
bottom: 35%;
right: -15%;
  
background-color: white;
color: var(--black);



   font-size: calc( var(--navItemsXL)*4 );
   height: 10rem;

}

.toogleDiv h4:hover{
    transform: scale(.95);
    transition: var(--transition);
    color: var(--grey);

}

.toogleDiv img{

   width: 100%;
    height: 100%;
    object-fit: cover;
}





@media(max-width:85rem) {
.imagesBoxes {

        transform: rotate(-7deg);

        width: 60rem;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;





        overflow: hidden;




    }

    .boxes {

        width: 18rem;
        height: 22rem;


    }

    .boxes:nth-child(4){
        display: none;
    }

    .boxes img {
        width: 18rem;
        height: 22rem;
        padding-bottom: .5em;
    }


    .toogleDiv {



        width: 60rem;
        height: 30rem;
        display: flex;

        background-color: var(--grey);

        position: relative;
    }

    .toogleDiv h4 {

        position: absolute;
        top: 35%;
        bottom: 35%;
        right: -1%;

        background-color: white;
        color: var(--black);



        font-size: calc(var(--navItemsXL)*2);
        height: 7rem;

    }

    .toogleDiv h4:hover {
        transform: scale(.95);
        transition: var(--transition);
        color: var(--grey);

    }

    .toogleDiv img {

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}









@media(max-width:60rem) {
    .imagesBoxes {

        transform: rotate(0deg);

        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;





        overflow: hidden;




    }

    .boxes {

        width: 18rem;
        height: 22rem;
     


    }
   .boxes:nth-child(3) {
       display: none;
   }

    .boxes:nth-child(4) {
        display: none;
    }

    .boxes img {
        width: 18rem;
        height: 22rem;
        padding-bottom: .5em;
    }


    .toogleDiv {



        width: 95%;
        max-height: 25rem;
        display: flex;

        background-color: var(--grey);

        position: relative;
    }

    .toogleDiv h4 {

        position: absolute;
        top: 35%;
        bottom: 35%;
        right: -5%;

        background-color: white;
        color: var(--black);



        font-size: calc(var(--navItemsXL)*1);
        height: 2rem;

    }

    .toogleDiv h4:hover {
        transform: scale(.95);
        transition: var(--transition);
        color: var(--grey);

    }

    .toogleDiv img {

        width: 100%;
        height:auto;
        object-fit: cover;
    }

}








@media(max-width:40rem) {
    .imagesBoxes {

        transform: rotate(0deg);

        width: 98%;
        /* min-height: 50vh; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;





        overflow: hidden;




    }

    .boxes {

        width: 100%;
        height: 19rem;
   




    }
        .boxes:nth-child(2) {
            display: none;
        }

    .boxes:nth-child(3) {
        display: none;
    }

    .boxes:nth-child(4) {
        display: none;
    }

    .boxes img {
        width: 100%;
       max-height: 60vh;
        padding-bottom: .5em;
    }


    .toogleDiv {



        width: 98%;
        max-height: auto;
        display: flex;

        background-color: var(--grey);

        position: relative;
    }

    .toogleDiv h4 {

        position: absolute;
        top: 35%;
        bottom: 35%;
        right: -5%;

        background-color: white;
        color: var(--black);



        font-size: calc(var(--navItemsXL)*1);
        height: 2rem;

    }

    .toogleDiv h4:hover {
        transform: scale(.95);
        transition: var(--transition);
        color: var(--grey);

    }

    .toogleDiv img {

        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}






