.main {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    /* z-index: -10;
    position: sticky;
    bottom: 0%; */
    /* position: relative; */
/* Da nemoze da higlijtije text */
    user-select: none;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;



}


.imagesBoxes{
  
    transform: rotate(-7deg);

    width: 85rem;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
   
  
  

 overflow: hidden;




}

.boxes{

    width: 20rem;
    height: 25rem;
 

}

.boxes img{
    width: 20rem;
    height: 25rem;
 padding-bottom: .5em;
}


.toogleDiv{
 


    width: 60rem;
    height: 36rem;
    display: flex;
  
background-color: var(--grey);

position: relative;
}

.toogleDiv h4{

           position: absolute;
top: 35%;
bottom: 35%;
right: -15%;
  
background-color: white;
color: var(--black);



   font-size: calc( var(--navItemsXL)*4 );
   height: 10rem;

}

.toogleDiv h4:hover{
    transform: scale(.95);
    transition: var(--transition);
    color: var(--grey);

}

.toogleDiv img{

   width: 100%;
    height: 100%;
    object-fit: cover;
}





