


.main{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--padd1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

position: relative;


    padding-top: var(--padd1em);

    /* Da nemoze da higlijtije text */
        user-select: none;
        -webkit-user-select: none;
    
        -moz-user-select: none;
    
        -ms-user-select: none;

   
}

.firstDiv{


    /* margin-top: calc(var(--padd1em)*2); */

    width: 90%;


    display: flex;
  
    align-items: center;
    justify-content: space-between;
    font-size:calc( var(--navItemsXL)* 3 );

padding: calc(var(--padd1em) *0.2);



    /* border: .2em solid red; */


}

.secondDiv{


  width: 90%;
 display: flex;


    align-items: center;
    justify-content: space-between;
    font-size: calc(var(--navItemsXL)* 3);

padding: calc(var(--padd1em) *0.2);



    /* border: .2em solid blueviolet; */

  
}

.secondDiv span{
   font-size:calc(  var(--posao)*1.2 );
   padding: var(--padd1em);


}


.skrolujuciSadrzaj{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
    display: flex;
    align-items: center;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
overflow: hidden;



   
}

.box{
   flex: 0 0 auto;
    width: 27rem;
    min-height: 23rem;
    margin-right: 2.5rem;
    background-color: #262626;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: .6em;
    padding:var(--padd1em);
    margin-top: var(--padd1em);
    margin-bottom: var(--padd1em);

cursor: grabbing;

    
}
.box:hover{
    transition: var(--transition);
    transform: scale(.95);
    background-color: var(--white);
    color: var(--black);
}

.box button{
    border: none;
    display: flex;
    align-self: flex-start;
    background-color: transparent;
    
 
}

.box :nth-child(1){
    width: 100%;
    font-size: calc(var(--posao)*1.6);

}

.box :nth-child(2) {
    width: 100%;
    font-size: calc( var(--posao)*1.25 );
    color: var(--grey);


}


.box :nth-child(3) {
    width: 100%;
    font-size: calc(var(--posao)*1.1);

}


.klikDiv{
    width: 42rem;
    min-height: 30rem;
    background-color: var(--white);
    position: absolute;
    top: 25%;
    left: calc(50%-672px);
    z-index: 10;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: var(--radius);
}

.klikDiv div:nth-child(1){
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
 justify-content: flex-end;
   
    padding: var(--padd1em);
    
}

.close{
    font-size: calc(var(--posao) * 1.85);
    border: .1em solid red;
    border-radius: var(--radius);
    margin-right: .5em;
}


.klikDiv div:nth-child(2){
        padding: var(--padd1em);
    font-size: calc(var(--posao) * 1.15);
}


.klikDiv div:nth-child(3) {
    padding: var(--padd1em);
    font-size: calc(var(--posao) * 1.15);
}


.credintialls{
    width: 100%;
    display: flex;
    padding: calc( var(--padd1em)* 1.2 );
    justify-content: flex-start;
    font-size: calc(var(--posao) * 1.2);
    color: var(--grey);
   
}








@media(max-width:90rem) {

.firstDiv {


        /* margin-top: calc(var(--padd1em)*2); */

        width: 90%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2.5);

        padding: calc(var(--padd1em) *0.2);




    }

    .secondDiv {


        width: 90%;
        display: flex;


        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2.5);

        padding: calc(var(--padd1em) *0.2);





    }

    .secondDiv span {
        font-size: calc(var(--posao)*1.1);
        padding: var(--padd1em);


    }


    .skrolujuciSadrzaj {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: 90%;
        display: flex;
        align-items: center;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden;




    }

    .box {
        flex: 0 0 auto;
        width: 27rem;
        min-height: 23rem;
        margin-right: 2.5rem;
        background-color: #262626;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border-radius: .6em;
        padding: var(--padd1em);
        margin-top: var(--padd1em);
        margin-bottom: var(--padd1em);

        cursor: grabbing;


    }



    .box button {
        border: none;
        display: flex;
        align-self: flex-start;
        background-color: transparent;


    }

    .box :nth-child(1) {
        width: 100%;
        font-size: calc(var(--posao)*1.6);

    }

    .box :nth-child(2) {
        width: 100%;
        font-size: calc(var(--posao)*1.25);
        color: var(--grey);


    }


    .box :nth-child(3) {
        width: 100%;
        font-size: calc(var(--posao)*1.1);

    }


    .klikDiv {
        width: 42rem;
        min-height: 30rem;
        background-color: var(--white);
        position: absolute;
        top: 25%;
        left: calc(50%-672px);
        z-index: 10;
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        border-radius: var(--radius);

    }

    .klikDiv div:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: flex-end;

        padding: var(--padd1em);

    }

    .close {
        font-size: calc(var(--posao) * 1.85);
        border: .1em solid red;
        border-radius: var(--radius);
        margin-right: .5em;
    }


    .klikDiv div:nth-child(2) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1.15);
    }


    .klikDiv div:nth-child(3) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1.15);
    }


    .credintialls {
        width: 100%;
        display: flex;
        padding: calc(var(--padd1em)* 1.2);
        justify-content: flex-start;
        font-size: calc(var(--posao) * 1.2);
        color: var(--grey);

    }



}











@media(max-width:60rem) {

    .firstDiv {


        /* margin-top: calc(var(--padd1em)*2); */

        width: 95%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);




    }

    .secondDiv {


        width: 95%;
        display: flex;


        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 2);

        padding: calc(var(--padd1em) *0.2);





    }

    .secondDiv span {
        font-size: calc(var(--posao)*1.1);
        padding: var(--padd1em);
 display: none;

    }


    .skrolujuciSadrzaj {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: 90%;
        display: flex;
        align-items: center;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden;




    }

    .box {
        flex: 0 0 auto;
        width: 25rem;
        min-height: 20rem;
        margin-right: 2.5rem;
        background-color: #262626;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border-radius: .6em;
        padding: var(--padd1em);
        margin-top: var(--padd1em);
        margin-bottom: var(--padd1em);

        cursor: grabbing;


    }



    .box button {
        border: none;
        display: flex;
        align-self: flex-start;
        background-color: transparent;


    }

    .box :nth-child(1) {
        width: 100%;
        font-size: calc(var(--posao)*1.3);

    }

    .box :nth-child(2) {
        width: 100%;
        font-size: calc(var(--posao)*1.1);
        color: var(--grey);


    }


    .box :nth-child(3) {
        width: 100%;
        font-size: calc(var(--posao)*1.15);

    }


    .klikDiv {
        width: 40rem;
        min-height: 28rem;
        background-color: var(--white);
        position: absolute;
        top: 25%;
        left: calc(50%-672px);
        z-index: 10;
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        border-radius: var(--radius);

    }

    .klikDiv div:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: flex-end;

        padding: var(--padd1em);

    }

    .close {
        font-size: calc(var(--posao) * 1.85);
        border: .1em solid red;
        border-radius: var(--radius);
        margin-right: .5em;
    }


    .klikDiv div:nth-child(2) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1.15);
    }


    .klikDiv div:nth-child(3) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1.1);
    }


    .credintialls {
        width: 100%;
        display: flex;
        padding: calc(var(--padd1em)* 1.2);
        justify-content: flex-start;
        font-size: calc(var(--posao) * 1.1);
        color: var(--grey);

    }



}




















@media(max-width:40rem) {

    .firstDiv {


        /* margin-top: calc(var(--padd1em)*2); */

        width: 98%;


        display: flex;

        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.5);

        padding: calc(var(--padd1em) *0.2);




    }

    .secondDiv {


        width: 98%;
        display: flex;


        align-items: center;
        justify-content: space-between;
        font-size: calc(var(--navItemsXL)* 1.5);

        padding: calc(var(--padd1em) *0.2);





    }

    .secondDiv span {
        font-size: calc(var(--posao)*1.1);
        padding: var(--padd1em);
        display: none;

    }


    .skrolujuciSadrzaj {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: 90%;
        display: flex;
        align-items: center;

        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden;




    }

    .box {
        flex: 0 0 auto;
        width: 23rem;
        min-height: 18rem;
        margin-right: 2rem;
        background-color: #262626;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border-radius: .6em;
        padding: var(--padd1em);
        margin-top: var(--padd1em);
        margin-bottom: var(--padd1em);

        cursor: grabbing;


    }



    .box button {
        border: none;
        display: flex;
        align-self: flex-start;
        background-color: transparent;


    }

    .box :nth-child(1) {
        width: 100%;
        font-size: calc(var(--posao)*1.3);

    }

    .box :nth-child(2) {
        width: 100%;
        font-size: calc(var(--posao)*1.1);
        color: var(--grey);


    }


    .box :nth-child(3) {
        width: 100%;
        font-size: calc(var(--posao)*1.15);

    }


    .klikDiv {
        width: 95%;
        min-height: 30rem;
        background-color: var(--white);
        position: absolute;
        top: 25%;
        left:1%;
        z-index: 10;
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        border-radius: 0em;

    }

    .klikDiv div:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 0%;
        display: flex;
        justify-content: flex-end;

        padding: var(--padd1em);

    }

    .close {
        font-size: calc(var(--posao) * 1.65);
        border: .1em solid red;
        border-radius: var(--radius);
        margin-right: .5em;
    }


    .klikDiv div:nth-child(2) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1);
    }


    .klikDiv div:nth-child(3) {
        padding: var(--padd1em);
        font-size: calc(var(--posao) * 1);
    }


    .credintialls {
        width: 100%;
        display: flex;
        padding: calc(var(--padd1em)* 1.2);
        justify-content: flex-start;
        font-size: calc(var(--posao) * 1.1);
        color: var(--grey);

    }



}